.app-header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    padding: 20px;
    // border-bottom: .3px solid rgb(129, 129, 129);
    box-shadow: 1px 0px 4px 0px rgb(0 0 0 / 88%);
    // a:first-of-type{
    //     font-size: 20px;
    // }
    background-color: #fff;
}