.product-page {
    .options{
        gap: 15px;

    }
    button {
        border: none;
        padding: 6px 25px;
        border-radius: 25px;
        margin-bottom: 30px;
        color: inherit;
    }
}