.product-page {
    .options {
        gap           : 15px;
        flex-direction: column;
        button {
            border       : none;
            padding      : 6px 25px;
            border-radius: 25px;
            color        : inherit;
        }
        margin-bottom: 20px;
    }
}

@media (min-width: 460px) {
    .product-page {
        .options {
            gap           : 15px;
            flex-direction: row;
            margin-bottom: 0px;
            button {
                margin-bottom: 30px;
            }
        }
    }
}