.green-house-app{
    margin-top: 70px;
    text-align: center;
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 20px;
        background-color: #9cdaaa;
        display: inline-block;
        padding: 15px 35px;
        border-radius: 25px;
    }
    img{
        display: block;
        width: 600px;
    }
}