.product-edit-screen{
    width: 100vw;
    height: 100vh;
    background-color: rgba(65, 65, 65, 0.692);
    position: fixed;
    top: 0;
    left: 0;
        .product-edit{
            padding: 30px;
            position: absolute;
            top: calc(100vh/ 6);
            left: calc(100vw/ 2);
            transform: translateX(-50%);
            background-color: rgb(224, 224, 224);
            border-radius: 10px;
            box-shadow: 0 0 10px #565656;
            input{
                padding: 5px 15px;
                margin: 5px 0;
                border-radius: 5px;
                border: none;
                height: 35px;
            }
            textarea{
                font-family: inherit;
                padding: 5px 15px;
                margin-top: 7px;
                margin-bottom: 25px;
                border-radius: 5px;
                border: none;
                resize: none;
            }
            button{
                padding: 5px 15px;
                margin-bottom: 15px;
                border-radius: 25px;
                border: none;
                background-color: rgb(255, 255, 255);
                color: rgb(41, 41, 41);;
            }
            .back{
                cursor: pointer;
            }
            .errors{
                font-size: 12px;
                height: 20px;
            }
        }
    }

    @media (min-width: 460px) {
        .product-edit-screen{
            .product-edit{
                top: calc(100vh/ 4.7);
            }
        }
    }